$main_black_light: #212121;
$main_black_dark: #000000;
$main_grey_dark: #333333;
$main_grey_light: #86878b;
$main_coral: #ec7979;
$main_coral_dark: #ab4949;
$main_white: #fff;

// Small tablets and large smartphones (landscape view)
$screen-sm-min-small: 481px;
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

$screen-laptop: 1024px;

// Large tablets and desktops
$screen-xl-min: 1200px;